*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* header and .header-right */
header{
  height: 30px;
}

.header-right{
  float: right;
  width: 300px;
  height: 30px;
}

.header-right a{
  color: black;
  padding: 2px;
  margin: 0 10px;
  position: relative;
  top: 7px;
  left: 80px;
  text-decoration: none;
}

.header-right #sign-in{
  padding: 7px 10px;
  background-color: #4486F9;
  font-weight: bold;
  color: white;
  cursor: default;
}

#sign-in:hover{
  box-shadow: 0 1px 3px -3px rgb(53, 53, 53);
}

/* main */
.main{
  height: 800px;
  min-width: 400px;
}

.logo{
  position: relative;
  top: 200px;
  width: 400px;
  height: 92px;
  margin: 0 auto;
}

.logo img{
  display: block;
  margin: 0 auto;
  width: 272px;
}

/*form in main */

#field{
  display: block;
  position: relative;
  top: 200px;
  width: 487px;
  height: 42px;
  margin: 2px auto;
  border: solid 1px;
  border-color: #D9D9D9;
}

#field:focus {   /* Selected input */
  box-shadow: 0 3px 6px rgb(199, 199, 199);
  font-size: 16px;
  text-indent:10px;
}

/*buttons in main*/
#search-submit{
  position: relative;
  top: 200px;
  width: 487px;
  height: 76px;
  margin: 0 auto;
  text-align: center;
}

.search-buttons{
  background-color: #F4F4F4;
  font-weight: bold; 
  color: gray;
  position: relative;
  top: 25px;
  padding: 8px 10px;
  margin: 0 3px;
}

.search-buttons:hover{
  color: black;
  cursor: default;
  border: 1px solid rgb(190, 190, 190);
  background: rgb(238,238,238); /* Old browsers */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
}

#language{
  position: relative;
  top: 200px;
  text-align: center;
}

#language a{
  text-decoration: none;
}

#language a:hover{
  text-decoration: underline;
}

/*footer */ /* To Edit */
footer{
  background-color: #F2F2F2;
  border: 1px solid rgb(207, 207, 207);
  width:100%;
  height: 40px;
  position: absolute;
  bottom:0;
  left:0;
}

.footer-right{
  float: right;
  width: 300px;
  height: 30px;
}

.footer-left{
  width: 300px;
  height: 30px;
}

.footer-left a{
  padding: 2px;
  margin: 0 10px;
  position: relative;
  top: 10px;
  color: rgb(128, 128, 128);
  text-decoration: none;
}

.footer-right a{
  padding: 2px;
  margin: 0 10px;
  color: rgb(128, 128, 128);
  position: relative;
  top: 10px;
  left: 70px;
  text-decoration: none;
}

.footer-right a:hover{
  text-decoration: underline;
}

.footer-left a:hover{
  text-decoration: underline;
}